# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Introduce to Python
- Introduce to Jupyter Notebook
- List machine learning libraries

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|-------|
|MySQL|
|PostgreSQL|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Luong Nhat Anh